.binodon-title {
    text-align: center;
}
.binodon-title h3 {
    text-align: center;
    font-weight: 600;
    color: #ED1C24;
    padding: 5px 15px;
    font-size: 40px;
    margin-top: 5px;
}

.slider-container {
    position: absolute;
    bottom: 0;
    padding: 10px;
    z-index: 99;
    text-align: center;


}

.slider-container h5 {
    color: white;
    
}